li(id='__prototype',style="display:none")
	.contractor-badge
		i.status
		img(src="/images/python-icon-256.png")
		p contractor
	.data
		h4(data-toggle="tooltip",data-placement='top',title,data-original-title="Name") name
		p#size
	.c-commands
		.arrow
		.c-header
			h4 Default
		.c-content
			p.title Size
			p#size.value
			p.title Revision
			p#rev.value
			p.title Tags
			p#tags.value ..
			p.title Start time
			p#start_time.value
			p.title Duration
			p#duration.value
			p.title State
			p#state.value
			
		.c-footer
			.button-set.place-right(style='width: 100%')
				button#btn_delete.c-button.place-left.fg-color-red(title="Delete contractor")
					i.iconi-cross-4
				button#btn_update.c-button.place-right.fg-color-blueDark(title="Update contractor")
					i.iconi-arrow-up-11
				button#btn_enable.c-button.place-right.fg-color-blueDark(title="Enable contractor")
					i.iconi-unlocked-2
				button#btn_disable.c-button.place-right.fg-color-blueDark(title="Disable contractor")
					i.iconi-lock-3
			
		
		