div(id="disk_container",style="padding-top: 10px")
	ul.listview.fluid.disk-view
		img#loader(src='/images/preloader-w8-cycle-black.gif').loader
		li(id="d_prototype",style="display:none")
			.icon				
			.data
				h4#Name
				p#Description
				.progress-bar.bg-color-darken
					#bar_freespace.bar.bg-color-teal
					
				p#Size
					
				
				