.info-block
	.info-block-content
		.photo-block
			p
				i.iconi-windows
		#block_info_right.info-right
			table.striped
				tbody
					tr
						td
							b Name
						td#e_name 
					tr
						td 
							b OS
						td#e_os
					tr
						td 
							b OS Version
						td#e_os_version
					tr
						td 
							b DNS Name
						td#e_dnshostname
					tr
						td 
							b Last check
						td#e_lastcheck
					tr
						td
							b Status
						td#e_hoststatus
					
		#block_info_bottom.info-full
			table.striped
				tbody
					tr.info
						td(style="width: 200px;")
							b Host
						td
					tr
						td(style="width: 200px;")															
							b Manufacturer
						td#e_manufacturer
					tr
						td
							b Model
						td#e_model
					tr.info
						td
							b Processor
						td
					tr	
						td
							b Name
						td#cpu_name
					tr	
						td
							b Manufacturer
						td#cpu_manufacturer
					tr
						td
							b Description
						td#cpu_description
					tr
						td
							b Number of CPU
						td#e_num_of_cpu
					tr
						td
							b Number of physical CPU
						td#e_num_of_physical_cpu					
					tr	
						td
							b Max Clock Speed
						td#cpu_maxclockspeed
					tr
						td
							b Current Clock Speed
						td#cpu_currentclockspeed					