div(id="processes_container",style="padding-top:10px")
	#info_block
		h4#process_count Общее число процессов: 
			b	$
		h4#stat_time Время сбора статистики:
			b	$
	ul.listview.process
		include processes_view_element
			
				
	