.panel(data-action='toggle-panel').border-color-blueDark
	.panel-header.bg-color-blueDark
		p
			i.iconi-delete
			span TAGS
	.panel-content
		#tags-container
			ul.taglist
				li(id='prototype',style='display:none !important')
					div.tag
						h4 test
					div.close-anchor ×
						
						