extends ..\layout
block head
	title= title
block content
	include ..\page-header
	.metro
		.page
			#header.info_header.bg-color-Dark
				h3.fg-white
					| Agent information
			section#workspace.container(style="float:left;padding: 10px 0 0 20px;")
				div
					h1 
						a(href="/agents")
							i.icon-arrow-left-3.fg-dark
						|	#{agent.name}