extends ..\layout
block head
	title= title
block content
	include ..\page-header
	.metro
		.page
			#header.info_header.bg-color-Dark
				h3.fg-white
					case action 
						default
							| Plugins