.bg-color-Dark {
	background-color: #3D3D3D !important;
}
.lemon-container {
	padding: 20px 20px;
	margin: 0;
	width: 100%;
}
.form-wrapper {
	margin-top: 20px;
	margin-left: 0 !important;
}
.btn-panel {
	margin-left: -7px;
	width: 42px;
	height: 250px;
	float:left;
}