div.lemon-container
	- if(!service || service=='')
			h2 Инструкция по обновлению
	- else
			h2 #{map.name || map.info_system}
			.grid
				.update-process-container.row
					form(id='upload_form',method="post",action="#{root}/update/#{service}/upload",enctype="multipart/form-data").span4
						div(style="height:40px").hidden_upload.button.default.large.span3 Загрузить дистрибутив							
							input(type='file',name='file',size='1')
					.span4
						button#setup_copy.button.fg-white.large.span3 Начать установку
					.span4
						button#switch_services.button.fg-white.large.span3 Переключить службы
					.span4
						button#switch_fronts.button.fg-white.large.span3 Переключить фронты
				.row
					.span6
						#console.button.default.large.span3
							img(src="/images/76.gif").line-loader						