link(rel='stylesheet', href='/stylesheets/css/metro-bootstrap.min.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/css/site.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/css/bootmetro-icons.css', type='text/css')
script(src='/javascripts/jquery/jquery-2.0.3.min.js')
script(src='/javascripts/jquery/jquery-2.0.3.min.map')
script(src='/javascripts/jquery/jquery.widget.min.js')
script(src='/javascripts/metroui/metro.min.js')
script(src='/javascripts/metroui/metro-dropdown.js')
script(src='/javascripts/header.js')