link(rel='stylesheet', href='/stylesheets/css/modern.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/css/modern-responsive.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/css/site.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/css/bootmetro-icons.css', type='text/css')
script(src='/javascripts/jquery/jquery-2.0.2.min.js')
script(src='/javascripts/modernui/tile-slider.js')
script(src='/javascripts/modernui/dropdown.js')
script(src='/javascripts/modernui/pagecontrol.js')
