.metro
	#page1.page
		- var bgcolor = bg_color || "bg-color-blueDark" 
			#page-header.page-header(class="#{bgcolor}")
				#page-header-content.page-header-content
					a(href="/")
						#logo.logo
							img(src='/images/logo.png')
					div.navigation-bar.dark(style="float: left;margin-left: 220px;width:auto !important;border:0 !important;")
						div.navigation-bar-content.container.medium.h-bottom
							ul.element-menu.no-margin
								li
									a(href="/monitoring")
										| Monitoring
								li
									a(href="#").dropdown-toggle
										| Inventory
									ul.dropdown-menu.dark(data-role="dropdown", data-effect="slide")
										li.disabled 
											a(href="/inventory/entities") Entities
										li
											a(href="/agents") Agents
								li
									a(href="#").dropdown-toggle
										| Administration
									ul.dropdown-menu.dark(data-effect="slide",data-role="dropdown")
										li 
											a(href="/configuration").dropdown-toggle Configuration
											ul.dropdown-menu.dark(data-show="hover")
												li
													a(href="/configuration/plugins")	Plugins
												li
													a(href="/configuration/entities")	Entities
								li
									a(href="/documentation")
										| Documentation