#page-sidebar.page-sidebar.bg-color-white(style="border-color: #ccc; border-style: solid; border-width: 1px;")
	ul.bg-color-white
		li
			a(href='/test/one') one
		li
			a(href='/test/two') two
		li
			a(href='/test/three') three