doctype 5
html(lang="ru")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/css/modern.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/css/modern-responsive.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/css/site.css', type='text/css')
		script(src='/javascripts/jquery/jquery-2.0.2.min.js')
	body.metrouicss
		#page1.page
			#page-header.page-header.bg-color-blue
				#page-header-content.page-header-content
					span#logo.logo
						h1.fg-color-white Lemon
			#page-content.page-region
				h1 just for test