div.lemon-container
	- if(!service || service=='')
			h2 Инструкция по обновлению
	- else
			h1 Обновление #{map.name || map.info_system}
			.grid
				.update-process-container.row
					.span4
						form(id='upload_form',method="post",action="#{root}/update/#{service}/upload",enctype="multipart/form-data")
							div(style="height:40px").hidden_upload.button.default.large.span3 Загрузить дистрибутив							
								input(type='file',name='file',size='1')
					.span4
						button#setup_copy.button.fg-white.large.span3 Начать установку
					.span4
						button#switch_services.button.fg-white.large.span3 Переключить службы
					.span4
						button#switch_fronts.button.fg-white.large.span3 Переключить фронты
				#update_instruction.row.no-margin
					.span6
						h3 Инструкция по обновлению
						br
						p Обновление состоит их 3 этапов:
						p - загрузка и проверка дистрибутива
						p - выбор служб и их копирование на сервера
						p - переключение служб и фронтов на новые версии
						p Дистрибутив загружается в виде архива формата ZIP. Архив содержит папки с файлами, каждая папка по имени службы.
						p Например, папки Front, IndexService, ImportService в корне архива deploy.zip						
				.row
					.span6
						#console.button.default.large.span3
							img(src="/images/76.gif").line-loader						